a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-2px);
  }
  
  a.email {
    color: #4285F4;
  }
  
  a.email:hover {
    color: #4285F4;
  }
  
  a.github {
    color: #211F1F;
  }
  
  a.github:hover {
    color: #211F1F;
  }
  
  a.linkedin {
    color: #0e76a8;
  }
  
  a.linkedin:hover {
    color: #0e76a8;
  }
  