.page-container {
  height: max-content;
  width: 100vw;
}

.academic-light-modal .modal-content .modal-header {
  color: rgb(50 56 62); 
  border-bottom: 1px solid #d9dadb;
}

.academic-dark-modal .modal-content {
  background-color: #343a40;
  
}

.academic-dark-modal .modal-content .modal-header {
  color: rgb(50 56 62); 
  border-bottom: 1px solid #2C3136;
}

.academic-dark-modal .modal-content .modal-footer {
  color: rgb(50 56 62); 
  border-top: 1px solid #2C3136;
}

.academic-dark-modal .modal-content .modal-title {
  color: #FFFFFF; 
}
